.map iframe{
  width: 100%;
  height: 400px;
}

.item {
  width: 100%;
  height: 100%;
}
.location-menu{
  text-align: center;
}
.location-menu .dropdown{
  display: inline-block;
}
.carousel .item img{
  width: 100%;
}
